CONFIG_CHISEL=y
CONFIG_MESH=y
CONFIG_MESH_X=2
CONFIG_MESH_Y=2
CONFIG_DATA_WIDTH=32
CONFIG_NODE_ID_WIDTH=2
CONFIG_VC_NUM=1
CONFIG_BUFFER_DEPTH=2
CONFIG_TEST_PACKETS=200
CONFIG_TEST_SEED=1
# CONFIG_WAVE is not set
# CONFIG_SBT is not set
